openapi: 3.0.1
info:
  version: V1
  title: ''
  description: ''
servers:
  - url: https://its.dev1.oci.netapp.com/account
paths:
  /accounts:
    get:
      tags: 
        - Account
      operationId: getAccounts
      summary: Get list of Accounts
      description: This Operation extracts the list of the Accounts
      responses:
        "200":
          description: Get List of Accounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts"
              
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
              examples:
                '401':
                  $ref:  "#/components/examples/401" 
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
     
              
          
    post:
      tags: 
        - Account
      operationId: createAccounts
      requestBody:
        description: Create an Account
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/accounts"
      summary: Creates Account
      description: This operation creates an Account      
      responses:
        '201':
          description: Created account
          content:
            applications/json:
              schema:
                $ref: "#/components/schemas/accounts"
      
            
          
        
  /accounts/{Id}:
    get:
      tags: 
        - Account
      parameters: 
        - name: Id
          in: path
          required: true
          schema:
            type: number
      operationId: getAccount
      summary: Get an Account
      description: This operation extract an Account  based on the Account Id
      responses:
        '200':
          description: Get an Account 
          content:
            application/json:
              schema:
                $ref:  "#/components/schemas/accounts"
      
            
              
                  
                
                
                  
                
              
components:
  schemas:
    accounts:
      $ref: "https://raw.githubusercontent.com/gurureddy239/OpenAPI/main/Account/Schema/Account_Schema.json"
    error:
      $ref: "https://raw.githubusercontent.com/gurureddy239/OpenAPI/main/Error/Schema/Error.json"
   

  examples:
    401:
      value: 
        error:
          code: 401
          type: Unauthorized
          message: The user is not authorized to make the request
    503:
      value: 
        error:
          code: 503
          type: Service Unavailable
          message: A backend error occurred